html, body, div, ul, li {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 60vh;
}

.bg-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper ul {
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  transition: transform .3s;
}

.bg-pic img {
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  /* transition:  */
}

.swiper ul li {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  /* background-color: brown; */
}

.swiper ul li img {
  width: 80%;
  height: 80%;
  border-radius: 10px;  
}